<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="profile">
      <h1>Greetings {{user.username}}!</h1>
      <div class="profile-block">
        <img class="profile-pic" src={{user.picture}}>
        <div class="profile-details">
          <h3 ng-show="!editing">Email: {{user.email}}</h3>
          <div class="profile-edit">
            <label for="email" ng-show="editing" ng-show="homeProfile"><h3>Email:</h3></label>
            <input ng-show="editing" ng-show="homeProfile" ng-value="user.email" ng-model="tempEmail"></input>
          </div>
          <h3 ng-show="!editing" ng-model="tempZip">Zip: {{user.zip_code}}</h3>
          <div class="profile-edit">
            <label for="zipcode" ng-show="editing" ng-show="homeProfile"><h3>Zipcode:</h3></label>
            <input ng-show="editing" ng-value="user.zip_code" ng-model="tempZip"></input>
          </div>
          <h3 ng-show="!editing" ng-model="tempAge">Age: {{user.age}} years old</h3>
          <div class="profile-edit">
            <label for="age" ng-show="editing" ng-show="homeProfile"><h3>Age:</h3></label>
            <input ng-show="editing" ng-value="user.age" ng-model="tempAge"></input>
          </div>
        </div>
      </div>
      <div class="profile-interests">
        <h3>{{user.username}}'s interests</h3>
        <a ng-repeat="topic in userTopics track by topic.id" ng-click="showTopic(topic)">
          <div class="interest-tag">{{topic.name}}</div>
        </a>
        <p ng-show="userTopics != undefined">{{nilTopics}}</p>
      </div>
      <h3>Attending</h3>
      <ul>
        <li ng-repeat="user in attendings">{{user}}</li>
      </ul>
      <h3>Hosting</h3>
      <ul>
        <li ng-repeat="user in hostings">{{user}}</li>
      </ul>
      <a class="btn register-btn" ng-show="!editing && homeProfile" ng-click="edit()">Edit Profile</a>
      <a class="btn register-btn" ng-show="editing" ng-click="saveChanges()">Save Changes</a>
      <a class="btn register-btn" ng-show="editing" ng-click="cancel()">Cancel</a>
    </div>
  </div>
</div>
