<h1>Create an Event!</h1>
When:
Where:
Description:
Upload Image:

<div class="text-center">
    <label for="email"></label>
    <input class="form-control register-form"  type="text" placeholder='Event Name' ng-model="eventName">
    <input class="form-control register-form" type="text" placeholder='Location' ng-model="location">
    <input type='text' class="form-control" id='datetimepicker4' ng-model="when" />

    <a class="btn register-btn" style="background-color: #ff0000" ng-click="register()"> Register!</a>
</div>
<div class="text-center">