<h1>Create an Event!</h1>
When:
Where:
Description:
Upload Image:

<div class="text-center">
    <label for="email"></label>
    <input class="form-control register-form"  type="text" placeholder='Event Name' ng-model="eventName">
    <input class="form-control register-form" type="text" placeholder='Location' ng-model="location"> <a ng-click="newMap()">Verify {{location}} in Google Map</a>
    <input class="form-control register-form" type="text-area" placeholder='Description' ng-model="description">
    <div style="display:inline-block; min-height:290px;">
      <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
    </div>
    <a class="btn register-btn" style="background-color: #ff0000" ng-click="create()"> Create Event!</a>
</div>
<div class="text-center">