<h1>{{event}}</h1>
<p>{{event.description}}</p>
<p>{{event.date}}</p>
<p>{{event.location}}</p>

<a class="btn register-btn" style="background-color: #ff0000" ng-click="createAttend()"> I'm Attending!</a>
<a class="btn register-btn" style="background-color: #ff0000" ng-click="cancelAttend()"> Cancel attending!</a>
<img src={{event.picture}}>
<h2>Attendees</h2>
<ul>
<li ng-repeat="user in attendees">{{user}}</li>
</ul>
<h2>Hosts</h2>
<ul>
<li ng-repeat="user in hosts">{{user}}</li>
</ul>

<h2>Comments</h2>
<h3>Post Comment<h3>

<textarea ng-model="content"></textarea>
<button ng-click="postComment()">post</button>
<ul>
<li ng-repeat="comment in comments">{{comment}} <button ng-click = "deleteComment(comment.id)">delete</button></li>
</ul>