<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <h1>Let me download you!</h1>
      <form ng-submit="submitInfo()">
        <input type="text" name="age" ng-model="age" placeholder="Enter yo age">
        <input type="text" name="zipcode" ng-model="zipcode" placeholder="Enter yo zipcode">
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <form ng-submit="updateProfilePic()">
        <input type="hidden" name="key" value="">
        <input type="hidden" name="AWSAccessKeyId" value="">
        <input type="hidden" name="acl" value="private">
        <input type="hidden" name="success_action_redirect" value="http://localhost/#/profile">
        <input type="hidden" name="policy" value="">
        <input type="hidden" name="signature" value="">
        <input type="hidden" name="Content-Type" value="image/jpeg">
        <!-- Include any additional input fields here -->
        Update your profile picture:
        <input name="file" type="file">
        <br>
        <input type="submit" value="Upload File to S3">
      </form>
    </div>
  </div>
</div>
