<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <h1>Let me download you!</h1>
      <form ng-submit="submitInfo()">
        <input type="text" name="age" ng-model="age" placeholder="Enter yo age">
        <input type="text" name="zipcode" ng-model="zipcode" placeholder="Enter yo zipcode">
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <form ng-submit="updateProfilePic()">
        Update your profile picture:
        <input ngf-select ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-max-size="10MB" name="file" ng-model="file" type="file">
        <br>
        <input type="submit" value="Upload File to S3">
      </form>
    </div>
  </div>
</div>
