<div class="row">
  <div class="col-xs-6" ng-style="{background: color(currentVerb)}">
    <div class="questionnaire">
      <h3 class="header-center">{{sentences[currentVerb]}}</h1>
      <a class="questionnaire-prev" ng-click="nextQuestion('up')">∧</a>
      <a class="questionnaire-next" ng-click="nextQuestion('down')">∨</a>
    </div>
    <div class="questionnaire-indicator">
      <ul class="no-dots">
        <li ng-repeat="verb in verbs"><em ng-class="{'active': verb == currentVerb}">•</em></li>
      </ul>
    </div>
  </div>
  <div class="col-xs-6">
    <div id="wrap">
      <h2 class="header-center">Interest Search</h2>
      <form ng-submit="submitKeyword()">
        <input id="search" name="search" ng-model="keyword" type="text" placeholder="Filter interests" ng-change="resetDuplicate()">
      </form>
      <a ng-repeat="topic in topics | filter: keyword | filterCategories:userTopics | filterVerbs:currentVerb track by topic.id" ng-click="createInterest(topic)">
        <div class="interest-tag">{{topic.name}}</div>
      </a>
    </div>
    <div class="finder-current">
      <h2 class="header-center">Your Interests</h1>
      <a ng-repeat="topic in userTopics track by topic.id" ng-click="showTopic(topic)">
        <div class="interest-tag-added">{{topic.name}}</div>
      </a>
      <div class="finder-suggest">
        <a data-toggle="modal" data-target="#suggestModal">Don't see your interest here? Suggest it!</a>
        <div id="suggestModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Suggest an interest!</h4>
              </div>
              <div class="modal-body">
                <input type="text" ng-model="suggestion">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="suggest(suggestion)">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
