<div class="row">
	<div class="col-xs-6">
		<h1>{{sentences[current_verb]}}</h1>
		<a ng-click="nextQuestion()">skip to next question </a>

		<p ng-repeat="verb in verbs" ng-click="setVerb(verb)">{{verb}}</p>
	</div>

	<div class="col-xs-6 col-xs-offset-6">
		<div id="wrap">
			<h2>wataru interestsu</h2>
				<form ng-submit="">
			  <input id="search" name="search" ng-model="keyword" type="text" placeholder="yo put your interests here" ng-change="resetDuplicate()">
			  </form>
			 <h3 ng-show="duplicate">yo dats a duplicate</h3>

			<a ng-repeat="topic in topics | filter:keyword | filterCategories:userTopics" ng-click="createInterest(topic)">
			  {{topic.name}}
			</a>
		</div>
	</div>



	<div class="col-xs-6 col-xs-offset-6">
		<h1> these are your current interests </h1>
		<a ng-repeat="topic in userTopics" ng-click="showTopic(topic)">{{topic.name}}</a>
	</div>
</div>
