/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require bootstrap-social/bootstrap-social
 *= require font-awesome/css/font-awesome
 *= require_tree
 *= require_self
 */

body {
  background-repeat: no-repeat;
  font-family: arial;
  background: #fff;
}

.register-form {
  width: 60%;
  margin: auto;
}

.divider {
  border-top: 1px solid gray;
  width: 60%;
  margin: auto;
}

.register-btn {
  stroke: transparent;
  fill: #fff!important;
  color: #fff!important;
  background: #3b5998;
  font-weight: 600;
  margin-top: 1.5em;
  width: 60%;
  border-radius: 1px;
}

.orspan {
  text-transform: uppercase;
  background: #ffffff;
  padding: 0 12px;
  z-index: 2;
  position: relative;
  top: -.8em
}

.text {
  color: #2C3030;
}

.hover {
  color: #15AA85;
}

.foreground {
  background-color: #ffffff;
}

.angular-google-map-container {
  height: 400px;
}

img-crop {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

img-crop canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}

.logo {
  height: 180%; 
}

#home {
  margin-top: -10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.interest-tag {
  display: inline-block;
  margin: 3px;
  padding: 0px 5px;
  border: 1px solid black;
  border-radius: 20px;
  background: #6cecc1;
  cursor: pointer;
}

.interest-tag-added {
  display: inline-block;
  margin: 3px;
  padding: 0px 5px;
  border: 1px solid black;
  border-radius: 20px;
  background: #6cecc1;
  cursor: pointer;
}

.header-center {
  text-align: center;
}

.questionnaire {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.questionnaire-prev {
  position: fixed;
  height: 30px;
  width: 30px;
  cursor: pointer;
  top: 20%;
  left: 24%;
  font-size: -webkit-xxx-large;
}

.questionnaire-next {
  position: fixed;
  height: 30px;
  width: 30px;
  cursor: pointer;
  bottom: 30%;
  left: 24%;
  font-size: -webkit-xxx-large;
}

.questionnaire-indicator {
  display: flex;
  top: 0;
  bottom: 0;
  left: -20px;
  transform: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  z-index: 99;
  position: absolute;
}

.finder-suggest {
  text-align: center;
}

.no-dots {
  list-style-type: none;
}

em {
  font-size: 2.5em;
}

.active {
  color: black;
}

.navbar-right {
  margin-right: 0px;
}

.profile {
  margin-top: 70px;
}

.profile-block {
  min-height: 200px;
}

.profile-pic {
  float: left;
}

.profile-details {
  margin-left: 250px;
  justify-content: center;
  position: relative;
  top: 50px;
}

.profile-details h3 {
  margin-top: 0px;
}

.profile-interests {
  clear: left;
}