/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require bootstrap-social/bootstrap-social
 *= require font-awesome/css/font-awesome
 *= require_tree
 *= require_self
 */

body {
  background-repeat: no-repeat;
  font-family: arial;
  background: #fff;
}

div {
  transition: all linear 0.5s;
}

.ng-hide {
  height: 0;
}


.sticky {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.sticky-content {
  flex: 1;
}

.register-form {
  width: 60%;
  margin: auto;
}

.divider {
  border-top: 1px solid gray;
  width: 60%;
  margin: auto;
}

.register-btn {
  stroke: transparent;
  fill: #fff!important;
  color: #fff!important;
  background: #3b5998;
  font-weight: 600;
  margin-top: 1.5em;
  width: 60%;
  border-radius: 1px;
}

.orspan {
  text-transform: uppercase;
  background: #ffffff;
  padding: 0 12px;
  z-index: 2;
  position: relative;
  top: -.8em
}

.text {
  color: #2C3030;
}

.hover {
  color: #15AA85;
}

.foreground {
  background-color: #ffffff;
}

.angular-google-map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img-crop {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

img-crop canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}

.logo {
  height: 180%; 
}

.logo:hover {
  cursor: pointer;
}

.page-scroll:hover {
  cursor: pointer;
}

#home {
  margin-top: -10px;
}

.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.interest-tag {
  display: inline-block;
  margin: 3px;
  padding: 0px 5px;
  border: 1px solid black;
  border-radius: 20px;
  background: #6cecc1;
  cursor: pointer;
}

.interest-tag-added {
  display: inline-block;
  margin: 3px;
  padding: 0px 5px;
  border: 1px solid black;
  border-radius: 20px;
  background: #41c7da;
  cursor: pointer;
}

.interest:hover {
  text-decoration: none;
  cursor: pointer;
}

.header-center {
  text-align: center;
}

.questions {
  padding: 1em;
}

.questionnaire {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.questionnaire-prev {
  position: absolute;
  height: 30px;
  width: 30px;
  cursor: pointer;
  top: 20%;
  left: 47%;
  font-size: -webkit-xxx-large;
}

.fa-arrow-cicle-down, .fa-arrow-circle-up {
  font-size: 48px;
} 

.questionnaire-prev:hover {
  text-decoration: none;
}

.questionnaire-next {
  position: absolute;
  height: 30px;
  width: 30px;
  cursor: pointer;
  bottom: 30%;
  left: 47%;
  font-size: -webkit-xxx-large;
}

.questionnaire-next:hover {
  text-decoration: none;
}

.questionnaire-indicator {
  display: flex;
  top: 0;
  bottom: 0;
  left: -20px;
  transform: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  z-index: 99;
  position: absolute;
}

.finder-suggest {
  text-align: center;
}

.no-dots {
  list-style-type: none;
}

em {
  font-size: 2.5em;
}

.active {
  color: grey;
}

.navbar-right {
  margin-right: 0px;
}

.profile-block {
  min-height: 200px;
}

.profile-pic {
  float: left;
}

.profile-details {
  margin-left: 250px;
  justify-content: center;
  position: relative;
  top: 50px;
}

.profile-details h3 {
  margin-top: 0px;
}

.profile-interests {
  clear: left;
}

header {
  margin-bottom: 50px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

#wrap a:hover {
  text-decoration: none;
}

.atlas-left {
  padding: 0px;
  height: 100%;
  min-height: 100vh;
}

.atlas-right {
  text-align: center;
}

.finder-suggest {
  margin-top: 40px;
}

.finder-current {
  margin-top: 40px;
}

.zipcode {
  text-align: center;
  font-size: 24px;
  border: none;
  outline: none;
  color: black;
  background: none;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  z-index: 1;
  border-bottom: 1px solid black;
  cursor: text;
}

.zipcode-span {
  display: inline;
  margin: 0 auto;
}

.zipcode:focus:hover {
  border-bottom: 1px solid black;
}

.search {
  font-size: 24px;
}

.center {
  margin: 0 auto;
}

.events-list {
  font-size: 16px;
}

.active-topic {
  background-color: #FA9FB5;
}

.modal-head {
  text-align: center;
}

.modal-header {
  background: #6cecc1;
}

.modal-input {
  width: 40%;
}