/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require bootstrap-social/bootstrap-social
 *= require font-awesome/css/font-awesome
 *= require_tree
 *= require_self
 */

body {
	background-repeat: no-repeat;
	font-family: arial;
    background: linear-gradient(to right, #f87f73 65%, #DCEEFF 35%)
}

.divider{
    border-top: 1px solid gray ;
    width: 60%;
    content: "";
    margin: auto;
}
.register-btn{
	stroke: transparent;
    fill: #fff!important;
    color: #fff!important;
    background: #3b5998;
    font-weight: 600;
    margin-top: 1.5em;
    width: 60%;
    border-radius: 1px;

}

.orspan{
	text-transform: uppercase;
    background: #ffffff;
    padding: 0 12px;
    z-index: 2;
    position:relative;
    top: -.8em

}

.text {
	color: #2C3030;
}

.hover {
	color: #15AA85;
}
.foreground {
	background-color: #ffffff;
}
