<div class="row">
  <ui-gmap-google-map center='map.center' zoom='map.zoom' options ='map.options' styles='map.styles'>
    <ui-gmap-layer type="FusionTablesLayer" options="map.fusionlayer" show="showFusionLayer"></ui-gmap-layer> 
  </ui-gmap-google-map>
</div>

<div class="row">
  <div class="col-xs-6">
    <h2>Interests in {{myZip}}</h2>
    <p>{{poop}}</p>
    <a ng-repeat="topic in userTopics" ng-click="">{{topic.name}}
    </a>
    <nvd3-pie-chart
      data="d3data"
      id="d3Id"
      width="550"
      height="350"
      x="d3topic()"
      y="d3count()"
      color="d3color()"
      noData="Oops! No interests were found for your zip code."
      showLabels="true"
      pieLabelsOutside="false"
      >
        <svg></svg>
    </nvd3-pie-chart>
  </div>

  <div class="col-xs-6 col-xs-offset-6">
    <div id="wrap">
      <h2>wataru interestsu</h2>
        <form ng-submit="">
        <input id="search" name="search" ng-model="keyword" type="text" placeholder="yo put your interests here" ng-change="resetDuplicate()">
        </form>


      <a ng-repeat="topic in topics | filter: keyword track by topic.id" ng-click="setQueryTopic(topic)">
        {{topic.name}}
      </a>
    </div>
  </div>
</div>