<!DOCTYPE html>
<html>
  <head>
    <title>InterestAtlas</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="meetdown">
    <header>
        <div ui-view="header"></div>
    </header>

    <div ui-view="container">
    </div>

    <footer id="mainFooter" ui-view="footer">
    </footer>
  </body>
</html>